.exercisesContainer {
	grid-area: app;
	align-self: self-start;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	min-height: 56vh;
}

.exercise {
	display: flex;
	flex: 1;
	flex-flow: column;
	width: 100%;
	justify-content: flex-start;

	> p.title {
		margin: 0.5rem 0;
		text-align: center;
		font-weight: bold;
		font-size: 1.75rem;
	}

	& .image {
		margin: 1rem 0 0 0;
		overflow: hidden;
		text-align: center;
		min-height: 30%;

		& img {
			max-width: 100%;
			height: auto;
		}
	}

	& .description {
		text-align: center;
		font-size: 1.5rem;
		line-height: 1.5;
		margin-bottom: auto; /* works as a "justify-self" for flexbox ;) */

		& span {
			font-weight: bold;
		}
	}
}


/* Media Queries */

@media(min-width: 1920px) {
	.exercisesContainer {
		min-height: 50vh;
	}

	.exercise {
		max-width: 75%;

		&:nth-child(1) {
			justify-self: end;
		}

		&:nth-child(2) {
			justify-self: start;
		}

		> p.title {
			font-size: 2.5rem;
		}

		& .description {
			font-size: 1.9rem;
		}

		& .image {
			& img {
				width: 8vw;
			}
		}
	}
}

@media(max-width: 700px) {
	.exercise {
		> p.title {
			font-size: 1.4rem;
		}

		& .description {
			font-size: 1.2rem;
		}
	}
}

@media(max-width: 420px) {
	.exercise {
		max-width: 46vw;

		> p.title {
			font-size: 1.3rem;
		}

		& .description {
			font-size: 1rem;
		}
	}
}

@media(max-width: 321px) {
	.exercise {
		max-width: 45vw;

		> p.title {
			font-size: 1.2rem;
		}
	}
}

@media(max-width: 281px) {
	.exercise {
		> p.title {
			font-size: 1.1rem;
		}

		& .description {
			font-size: 1rem;
		}
	}
}
