.exercisesContainer {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	width: 75%;

	> div {
		max-width: 40%;
		min-height: 40vh;

		> p.title {
			text-align: center;
			font-weight: bold;

			font-size: 2rem;
		}
	}

	& .exercise {
		overflow: hidden;
		text-align: center;
	}

	& .description {
		text-align: center;
		font-size: 1.7rem;
	}
}
