.timerControl {
	grid-area: footer;
	align-self: self-end;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0.75rem 0;
}

.timerDisplay {
	font-weight: bold;
	font-size: 3.2rem;
	color: #000;
	align-self: center;

	&.aware {
		color: var(--darkOrange);
	}
}


/* Media Queries */

@media(min-width: 1920px) {
	.timerDisplay {
		font-size: 3.5rem;
	}
}

@media(min-width: 701px) {
	.timerControl {
		align-self: self-start;
		margin: 0;
	}
}

@media(max-width: 700px) {
	.timerDisplay {
		font-size: 2.5rem;
	}
}

@media(max-width: 420px) {
	.timerDisplay {
		font-size: 2.25rem;
	}
}
